<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>NekroZ</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/news.css">
    <link rel="stylesheet" href="../css/navbar.css">
</head>

<body>

    <header id="titlebar">
        <div id="drag-region">

            <div id="window-title">
                <h1>NekroZ</h1>
            </div>

            <div id="window-controls">

                <div class="button" id="min-button">
                    <img class="icon" srcset="../icons/titlebar/min-w-10.png 1x, ../icons/titlebar/min-w-12.png 1.25x, ../icons/titlebar/min-w-15.png 1.5x, ../icons/titlebar/min-w-15.png 1.75x, ../icons/titlebar/min-w-20.png 2x, ../icons/titlebar/min-w-20.png 2.25x, ../icons/titlebar/min-w-24.png 2.5x, ../icons/titlebar/min-w-30.png 3x, ../icons/titlebar/min-w-30.png 3.5x" draggable="false" />
                </div>
          
                <div class="button" id="max-button">
                  <img class="icon" srcset="../icons/titlebar/max-w-10.png 1x, ../icons/titlebar/max-w-12.png 1.25x, ../icons/titlebar/max-w-15.png 1.5x, ../icons/titlebar/max-w-15.png 1.75x, ../icons/titlebar/max-w-20.png 2x, ../icons/titlebar/max-w-20.png 2.25x, ../icons/titlebar/max-w-24.png 2.5x, ../icons/titlebar/max-w-30.png 3x, ../icons/titlebar/max-w-30.png 3.5x" draggable="false" />
                </div>
          
                <div class="button" id="restore-button">
                  <img class="icon" srcset="../icons/titlebar/restore-w-10.png 1x, ../icons/titlebar/restore-w-12.png 1.25x, ../icons/titlebar/restore-w-15.png 1.5x, ../icons/titlebar/restore-w-15.png 1.75x, ../icons/titlebar/restore-w-20.png 2x, ../icons/titlebar/restore-w-20.png 2.25x, ../icons/titlebar/restore-w-24.png 2.5x, ../icons/titlebar/restore-w-30.png 3x, ../icons/titlebar/restore-w-30.png 3.5x" draggable="false" />
                </div>
          
                <div class="button" id="close-button">
                  <img class="icon" srcset="../icons/titlebar/close-w-10.png 1x, ../icons/titlebar/close-w-12.png 1.25x, ../icons/titlebar/close-w-15.png 1.5x, ../icons/titlebar/close-w-15.png 1.75x, ../icons/titlebar/close-w-20.png 2x, ../icons/titlebar/close-w-20.png 2.25x, ../icons/titlebar/close-w-24.png 2.5x, ../icons/titlebar/close-w-30.png 3x, ../icons/titlebar/close-w-30.png 3.5x" draggable="false" />
                </div>
          
              </div>

        </div>
    </header>

    <div id="general">
        <div class="nav">
            <button class="button">
                <a href="home.html"><img src="../icons/nav/home.png"></a>
            </button>
                <div class="firstHalf">
                    <button class="button">
                        <a href="news.html"><img src="../icons/nav/news.png"></button></a>
                    </button>
                    <button class="button">
                        <a href="event.html"><img src="../icons/nav/event.png"></a>
                    </button>
                </div>
            <button class="button">
                <a href="options.html"><img src="../icons/nav/settings.png"></a>
            </button>
        </div>

        <div class="data">

            <div class="news1"><p>lulz</p></div>
            <div class="news2"><p>lulz</p></div>
            <div class="news3"><p>lulz</p></div>
            <div class="news4"><p>lulz</p></div>

        </div>

    </div>

    <script>
        require('./../js/renderer.js');
    </script>
</body>

</html>