.general {
    display: flex;
    flex-direction: row;
}

.nav {
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
}

.news {
    display: flex;
    flex-direction: column;
}