.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px 15px;
    height: 100%;
    width: 100%;
}

.news1, .news2, .news3, .news4 {
    background-color: #24263D;
    height: 100px;
    width: 100%;
    margin: 10px;
    border-radius: 10px;    
}

.news1 h2, .news2 h2, .news3 h2, .news4 h2 {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    font-family: GlobalFont;
}

.news1 p, .news2 p, .news3 p, .news4 p {
    margin-left: 10px;
    margin-right: 10px;
}