<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>NekroZ</title>
    <link rel="stylesheet" href="css/home.css">

</head>

<body>


    <div class="general">

        <div class="nav">
            <button>Accueil</button>
            <button>News</button>
            <button>Events</button>
            <button>Réglages</button>
            <button type="button">Click Me!</button>
        </div>

        <div class="main">
            <h1>NekroZ</h1>
            <button>PLAY</button>
        </div>

        <div class="news">
            <p>news</p>
        </div>

    </div>


</body>

</html>