<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title>NekroZ</title>
    <link rel="stylesheet" href="css/home.css">

</head>

<body>

        <div class="nav">
            <button class="button">Accueil</button>
            <button class="button">News</button>
            <button class="button">Events</button>
            <button class="button">Réglages</button>
        </div>

        <div class="main">
            <h1>NekroZ</h1>
            <button>PLAY</button>
        </div>

        <div class="news">
            <p>news</p>
        </div>

</body>

</html>